@model ArticleModel
@{
    ViewBag.Title = "Create article";
}

<form asp-controller="Article" asp-action="Create" method="post">

    <div class="row">
        <div class="col-xs-8 col-sm-9">
            <div class="form-group">
                <label asp-for="Title">@Html.DisplayNameFor(model => model.Title)</label>
                @Html.ValidationMessageFor(model => model.Title)
                <input asp-for="Title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Slug">@Html.DisplayNameFor(model => model.Slug)</label>
                @Html.ValidationMessageFor(model => model.Slug)
                <input asp-for="Slug" class="form-control" />
            </div>
        </div>
        <div class="col-xs-4 col-sm-3">
            <div class="form-group">
                <label asp-for="Created">@Html.DisplayNameFor(model => model.Created)</label>
                @Html.ValidationMessageFor(model => model.Created)
                <input asp-for="Created" class="form-control datepicker" data-date-format="yyyy-mm-dd" />
            </div>
            <div class="form-group">
                <label asp-for="Published">@Html.DisplayNameFor(model => model.Published)</label>
                @Html.ValidationMessageFor(model => model.Published)
                <input asp-for="Published" class="form-control datepicker" data-date-format="yyyy-mm-dd" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="Abstract">@Html.DisplayNameFor(model => model.Abstract)</label>
                @Html.ValidationMessageFor(model => model.Abstract)
                <textarea asp-for="Abstract" class="form-control" rows="5"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Content">@Html.DisplayNameFor(model => model.Content)</label>
                @Html.ValidationMessageFor(model => model.Content)
                <textarea asp-for="Content" class="form-control" rows="20"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Conclusion">@Html.DisplayNameFor(model => model.Conclusion)</label>
                @Html.ValidationMessageFor(model => model.Conclusion)
                <textarea asp-for="Conclusion" class="form-control" rows="5"></textarea>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="AuthorId">@Html.DisplayNameFor(model => model.AuthorId)</label>
                @Html.ValidationMessageFor(model => model.AuthorId)
                <select asp-for="AuthorId" asp-items="Model.EditViewManagement.AvailableAuthors" class="form-control">
                    <option value="none"> --- </option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Postprocessors" style="width: 100%;">@Html.DisplayNameFor(model => model.Postprocessors)</label>
                @Html.ValidationMessageFor(model => model.Postprocessors)
                <select class="ObscureDesign_Management_Article_Postprocessors" multiple="multiple">
                    @foreach (var postprocessor in Model.EditViewManagement.AvailablePostprocessors)
                    {
                        <option value="@postprocessor.Key">@postprocessor.Value</option>
                    }
                </select>
                @foreach (var postprocessor in Model.EditViewManagement.AvailablePostprocessors)
                {
                    <input type="hidden" asp-for="Postprocessors[postprocessor.Key]" />
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <div>
                    <label asp-for="Tags">@Html.DisplayNameFor(model => model.Tags)</label>
                </div>
                <select asp-for="Tags" data-role="tagsinput">
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @Html.ValidationSummary(excludePropertyErrors: true, message: "Unable to create article.")
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>

</form>