@model IEnumerable<UserModel>
@{
    ViewBag.Title = "User management";
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Id)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().DisplayName)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Email)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td><a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">@user.Id</a></td>
                        <td>@user.DisplayName</td>
                        <td>@user.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
